input {
	border: dashed 1px #123456;
}

.input1 {
	border: solid 1px green;
}

body{
	margin: 0px;
}

div {
	display: block;
}

.page-top-wrap {
	height: 34px;
	background: #f0f0f0;
	border-bottom: 1px solid #e4e4e4;
	line-height: 34px;
	color: #666;
}

.page-top-wrap i {
	display: block;
	width: 13px;
	height: 14px;
	background: url(/images/index_10_26/zfang-cio.png) 999px 999px no-repeat;
}

.page-top-wrap i.tel {
	background-position: 0 -77px;
	margin: 11px 0 0 15px;
}

.page-top-wrap i.login {
	background-position: -15px -77px;
	margin: 10px 7px 0 5px;
	float: left;
}

.page-top-wrap .ems {
	color: #d1d1d1;
	font-size: 9px;
}

.page-top-wrap .login-btn:hover i.login {
	-webkit-animation: login 0.4s 1 linear;
	-moz-animation: login 0.4s 1 linear;
	-ms-animation: login 0.4s 1 linear;
	animation: login 0.4s 1 linear;
}

.page-top-wrap .ems {
	color: #d1d1d1;
	font-size: 9px;
}

.mr10 {
	margin-right: 10px;
}

.mr10 {
	margin-right: 10px;
}

.ml10 {
	margin-left: 10px;
}

.wrap,
.list-wrap {
	width: 1190px;
	margin: 0 auto;
}

.fr {
	float: right;
	display: inline;
}

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
	display: inline;
}


/* start grids_of_4 */

.grids_of_4 {
	text-align: center;
	display: block;
}

.grid1_of_4 {
	float: left;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	background: #ffffff;
	position: relative;
}

.grid1_of_4:first-child {
	margin-left: 0;
}

.grid1_of_4 a {
	display: block;
}

.grid1_of_4 a:hover h3 {
	color: #57C5A0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.grid1_of_4 h3 {
	border-top: 1px solid #EBEBEB;
	padding: 5px;
	font-size: 1.2em;
	color: #000000;
	-webkit-text-stroke: 0.2px;
	text-shadow: 0 1px 0 #ffffff;
	text-transform: capitalize;
}

.grid1_of_4 img {
	width: 280px;
	height: 210px;
	padding: 0% 0;
}

.grid1_of_4_imgcell {
	padding: 0% 0;
}

.grid1_of_4_houseTypeWrap {
	padding-top: 3%;
	height: 30px;
}

.grid1_of_4_houseType {
	width: 30%;
	float: left;
}

.grid1_of_4_houseArea {
	float: right;
	margin-right: 5%;
}

.grid1_of_4_priceCell {
	color: red;
	font-size: 1.3em;
	padding: 10px 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.grid1_of_4_commentCell {
	background: #57C5A0;
	color: #ffffff;
	font-size: 0.8725em;
	padding: 12px 12px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.footer_link {
	height: 30px;
	float: right;
	margin-bottom: 10px;
}


.footer_link li{
	text-align: right;
	float: left;
	margin-right: 10px;
}

.footer_link li a{
	display:block;
	color: #7D7D7D;
	text-transform: capitalize;
	font-size: 0.8725em;
	-webkit-text-stroke: 0.5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.footer_link li a:hover {
	color: #57C5A0;
}
