<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" isolation="DEFAULT" propagation="SUPPORTS"
				read-only="true" />
			<tx:method name="load*" isolation="DEFAULT" propagation="SUPPORTS"
				read-only="true" />
			<tx:method name="select*" isolation="DEFAULT" propagation="SUPPORTS"
				read-only="true" />
			<tx:method name="find*" isolation="DEFAULT" propagation="SUPPORTS"
				read-only="true" />
			<!-- 查询的日志隔离级别 为DEFAULT，默认也是DEFAULT，事务的传播行为，SUPPORTS，如果之前开启过事务，就加入那个事务，没有就非事务的方式运行 -->
			<tx:method name="query*" isolation="DEFAULT" propagation="SUPPORTS"
				read-only="true" />
			<!-- 除开以上定义的方法，其他方法的事务传播行为为REQUIRED,即有事务就加入事务，没有事务就新建一个事务 -->
			<tx:method name="*" read-only="false" />
		</tx:attributes>
	</tx:advice>


	<aop:config>
		<aop:pointcut id="allDaoMethod"
			expression="execution(* com.chinasoft.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allDaoMethod" />
	</aop:config>








	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:sqlserver://127.0.0.1:1433;databaseName=RealEstate">
		</property>
		<property name="username" value="sa"></property>
		<property name="password" value="sa+1s"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/chinasoft/pojo/HouseSellRent.hbm.xml</value>
				<value>
					com/chinasoft/pojo/EnterpriseUsers.hbm.xml
				</value>
				<value>com/chinasoft/pojo/Administrator.hbm.xml</value>
				<value>
					com/chinasoft/pojo/HouseSellEnterprise.hbm.xml
				</value>
				<value>com/chinasoft/pojo/Users.hbm.xml</value>
				<value>com/chinasoft/pojo/Comment.hbm.xml</value>
				<value>com/chinasoft/pojo/Collect.hbm.xml</value>
				<value>
					com/chinasoft/pojo/HouseSellSecondhand.hbm.xml
				</value>
				<value>com/chinasoft/pojo/Region.hbm.xml</value>
				<value>com/chinasoft/pojo/HouseType.hbm.xml</value>
				<value>com/chinasoft/pojo/Transactions.hbm.xml</value>
				<value>com/chinasoft/pojo/HouseBuyRent.hbm.xml</value>
				<value>
					com/chinasoft/pojo/HouseBuyRequest.hbm.xml
				</value>
				<value>com/chinasoft/pojo/Advertisement.hbm.xml</value>
				<value>com/chinasoft/pojo/Verification.hbm.xml</value>
			</list>
		</property>
	</bean>


	<!-- 首页加载信息配置 -->
	<!-- HouseSellRentService、 HouseSellEnterpriseService、 HouseSellSecondhandService -->
	<bean id="IndexAction" class="com.chinasoft.action.IndexAction">
		<property name="houseSellRentService">
			<ref bean="HouseSellRentService" />
		</property>
		<property name="houseSellEnterpriseService">
			<ref bean="HouseSellEnterpriseService" />
		</property>
		<property name="houseSellSecondhandService">
			<ref bean="HouseSellSecondhandService" />
		</property>
	</bean>

	<bean id="JsonAction" class="com.chinasoft.action.JsonAction">
		<property name="usersService">
			<ref bean="UsersService" />
		</property>
	</bean>

	<!--管理员配置，查询房屋 -->
	<bean id="AdministratorAction" class="com.chinasoft.action.AdministratorAction">
		<property name="houseSellRentService">
			<ref bean="HouseSellRentService" />
		</property>
		<property name="houseSellEnterpriseService">
			<ref bean="HouseSellEnterpriseService" />
		</property>
		<property name="houseSellSecondhandService">
			<ref bean="HouseSellSecondhandService" />
		</property>
		<property name="verificationService">
			<ref bean="VerificationService" />
		</property>
	</bean>


	<bean id="EnterpriseUsersDAO" class="com.chinasoft.dao.EnterpriseUsersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdministratorDAO" class="com.chinasoft.dao.AdministratorDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>



	<!--出租房屋配置 -->
	<bean id="HouseSellRentDAO" class="com.chinasoft.dao.HouseSellRentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseSellRentService" class="com.chinasoft.service.HouseSellRentService">
		<property name="houseSellRentDAO">
			<ref bean="HouseSellRentDAO" />
		</property>
	</bean>
	<bean id="HouseSellRentAction" class="com.chinasoft.action.HouseSellRentAction">
		<property name="houseSellRentService">
			<ref bean="HouseSellRentService" />
		</property>
	</bean>

	<!--企业新房配置 -->
	<bean id="HouseSellEnterpriseDAO" class="com.chinasoft.dao.HouseSellEnterpriseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseSellEnterpriseService" class="com.chinasoft.service.HouseSellEnterpriseService">
		<property name="houseSellEnterpriseDAO">
			<ref bean="HouseSellEnterpriseDAO" />
		</property>
	</bean>
	<bean id="HouseSellEnterpriseAction" class="com.chinasoft.action.HouseSellEnterpriseAction">
		<property name="houseSellEnterpriseService">
			<ref bean="HouseSellEnterpriseService" />
		</property>
	</bean>

	<!--二手房配置 -->
	<bean id="HouseSellSecondhandDAO" class="com.chinasoft.dao.HouseSellSecondhandDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseSellSecondhandService" class="com.chinasoft.service.HouseSellSecondhandService">
		<property name="houseSellSecondhandDAO">
			<ref bean="HouseSellSecondhandDAO" />
		</property>
	</bean>
	<bean id="HouseSellSecondhandAction" class="com.chinasoft.action.HouseSellSecondhandAction">
		<property name="houseSellSecondhandService">
			<ref bean="HouseSellSecondhandService" />
		</property>
	</bean>



	<bean id="UsersDAO" class="com.chinasoft.dao.UsersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UsersService" class="com.chinasoft.service.UsersService">
		<property name="usersDAO">
			<ref bean="UsersDAO" />
		</property>
	</bean>
	<bean id="UsersAction" class="com.chinasoft.action.UsersAction">
		<property name="service">
			<ref bean="UsersService" />
		</property>
	</bean>



	<bean id="CommentDAO" class="com.chinasoft.dao.CommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CollectDAO" class="com.chinasoft.dao.CollectDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<bean id="RegionDAO" class="com.chinasoft.dao.RegionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!-- 房屋类型配置 -->
	<bean id="HouseTypeDAO" class="com.chinasoft.dao.HouseTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseTypeService" class="com.chinasoft.service.HouseTypeService">
		<property name="houseTypeDAO">
			<ref bean="HouseTypeDAO" />
		</property>
	</bean>
	<bean id="HouseTypeAction" class="com.chinasoft.action.HouseTypeAction">
		<property name="houseTypeService">
			<ref bean="HouseTypeService" />
		</property>
	</bean>



	<bean id="TransactionsDAO" class="com.chinasoft.dao.TransactionsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseBuyRentDAO" class="com.chinasoft.dao.HouseBuyRentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseBuyRequestDAO" class="com.chinasoft.dao.HouseBuyRequestDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdvertisementDAO" class="com.chinasoft.dao.AdvertisementDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="VerificationDAO" class="com.chinasoft.dao.VerificationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VerificationService" class="com.chinasoft.service.VerificationService">
		<property name="verificationDAO">
			<ref bean="VerificationDAO" />
		</property>
	</bean>
	


</beans>